#main {
    height: 85vh;
    width: 86vw;
    overflow: scroll;
    overflow-x: auto;
    scroll-behavior: smooth;
}

@media (max-width:1170px){
    #main {
        height: 85vh;
        width: 100vw;
    }
}
