#products {

    padding: 5px;
    padding-top: 20px;
    
}

.Favorite_Icon {
    color: #857d80bd;
    position: relative;
    top: -27em;
    left: 13em;
    display: flex;
    max-width: 28px;
    justify-content: center;
    cursor: pointer;
}

.Favorite_Icon:hover{
    color:blue;
}