#checkout {
    display: flex;
    justify-content:space-between;
    width: 84vw;
    margin: auto;
}

.Money{
    color:rgb(5, 175, 5);
}

.cart_section,.bankform_section{
    width:39vw;
}
.cart_section{
    height:85vh;
    overflow: auto;
}
.cart_section::-webkit-scrollbar{
    width: 10px;
    background-color: white;
}
.cart_section::-webkit-scrollbar-thumb{
    background-color: blue;
    border-radius:10px;
}
.clear__cart,.Stripe__btn{
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 10px 10px 0px;
}


@media (max-width:1053px){
    .bankform_section{
        display: none;
    }
    .cart_section{
        width:100%;
    }
    #checkout {
        justify-content:center;
    }
}