#main {
    height: 85vh;
    width: 86vw;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


#main::-webkit-scrollbar{
    width:8px;
    height: 10px;
  }
  #main::-webkit-scrollbar-thumb{
    border-radius:4px;
    background-color: blue;
  }

@media (max-width:1170px){
    #main {
        height: 85vh;
        width: 100vw;
    }
}
