.ItemLabel__Container{
    display:flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
}
.Input__sortby{
    background-color: hsl(252deg 56% 98%);
    border:none;
    outline: none;
}
.Input__Container{
    background-color: hsl(252deg 56% 98%);
    padding: 10px;
    display: flex;
    cursor:pointer;
    border-radius: 4px;
}

.btn__oversize,.btn__multicolor,.btn__xxl{
    border: none;
    padding:5px;
    background-color: hsl(252deg 56% 98%);
}
.btn__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-right: 17px;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    background-color: hsl(252deg 56% 98%);
}
#btn__General__container{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
    padding: 10px 8px 10px 18px;  
}

@media(max-width:614px){
    #btn__General__container{
        overflow-x: scroll;
        padding: 10px 8px 10px 2px;
    }
    .ItemLabel__Container{
        padding: 2px 0px 0px 9px;
    }
    
}
