
.shirt__container{
    width:320px;
    border:1px solid rgb(128, 128, 128);
    border-radius:10px;
    position: relative; 
}

.sub__shirtcontainer{
    padding:16px;
}
.shirt__img{
 height: 300px;
 width:320px;
 border-radius:12px;
 object-fit: contain;
}
.priceand__cartbtnContainer{
display: flex;
justify-content: space-between;
align-items: center;
}

.Shopping_Button {
    padding: 4px 16px 8px 16px;
    border-radius: 6px;
    color: white;
    background-color: blue;
    display: flex;
    width: 10px;
    justify-content: center;
}

.Promo_Iconz {
    height: 0px;
    color: blue;
   
}

.Favorite_Icon {
    color:blue;
    position: absolute;
    top:5px;
    right:5px;
    cursor: pointer;
}

.Products__display {
    padding:16px;
    display: grid;
    grid-gap:15px;   
    
}

@media(max-width:614px){
    .Products__display{
        padding: 10px 8px 10px 3px;
    }   
}

@media(max-width:1200px){
.Products__display {
        grid-auto-flow: column;
        overflow: hidden;
        overflow-x:scroll;
}
}
@media(min-width:980px){
    .Products__display {
        grid-template-columns: repeat(3, 0fr);
        grid-auto-flow: none; 
}
} 

.Favorite_Icon:hover {
    color: blue;
}

.Line_Icon1 {
    width: 10px;
    height: 40px;
    background-color: blue;
    position: absolute;
}


